# BDAT 1004 â€“ Data Programming Problem Set 2

## Question 1

What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [10]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()   # Value of a upto this is 2
b()   #  Value of a upto this is 4
b()   #  Value of a upto this is 6
a

6

In this a is intiated as 0, b() making the a variable as global and using the value in c() and c() returning is a +2. , so whenever we called c it changed the new a value +2.

## Question 2
 Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [7]:
def file_length(f):                                          
    try:                                # try and except method is used to check and modify the error message                    
        file = open(f, "r")                                     
        contents=file.read()                                               
        print('Given file length is : '+ str(len(contents)))         
        file.close()                                                   
    except:                                                           
        print('File '+f+' not found.')   # printing error as per our convience

In [8]:
file_length("midterm.py")     #we created the file midterm.py, in which the text includes my name and student id.

Given file length is : 57

In [9]:
file_length('idterm.py')

File idterm.py not found.

# Question 3
## Part 1
Write a class named Marsupial that can be used as shown below:

>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [11]:
class Marsupial(object):                     # Creating class fine with name Marusupial
  
    def __init__(self):                       # Self initiating the list
        self.list = []                     
    def put_in_pouch(self, product):          # Creating function put_in_pouch and apending the same in to list
        self.list.append(product)             
    def pouch_contents(self):                # Creating pouch.contents function which is returning all the values in the self.list
        return self.list
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

# Question 3 
## Part 2
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
'doll', 'firetruck', 'kitten'
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [13]:
class Kangaroo(Marsupial):                       
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 #In this we are extending the init function
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                        #In this we are creating the jump function 
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                            # function that returns the position 
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [20]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [15]:
# In this part i am proving that k is sub-class of Marsupial
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [64]:
def collatz(j):                    
   
    if j != 1:                   
        if j%2!=0:                #In this we are checking if j is odd number.
            print(int(j))        
            collatz(3*j+1)        # Then it is performing performs (3j+1)
        
        else:
            print(int(j))         # else it is even number
            collatz(j/2)          #then it is performing j/2
  
    else:
        print(int(j)); 
        
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [68]:
def binary(i):
    
    if i>0:                           #It is condition which if i greater than 0 than it calculates binary value as per the formula below
        return (i % 2 + 10*binary(int(i // 2)))
       
    else:                           
         return 0
        
binary(0)

0

In [67]:
binary(1)

1

In [69]:
binary(3)

11

In [70]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [33]:
from html.parser import HTMLParser                           #I took the reference of the same form internet     
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                            
        self.head = 0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attrs):               
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                            
        if self.head == "type":
            print(self.intend+ data)                         
            self.intend += "    "
            self.head = 0

In [34]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [90]:
from urllib.request import urlopen     # Got references from google: https://docs.python.org/3/library/urllib.request.html 
from bs4 import BeautifulSoup as btf   # Got references from google: https://www.pythonforbeginners.com/beautifulsoup/beautifulsoup-4-python
import requests                        # Got references from google: https://python.readthedocs.io/en/v2.7.2/library/urlparse.html
from urllib.parse import urljoin
class Parser(HTMLParser):
    
    def __init__(self, url):   # Inititating the url
        HTMLParser.__init__(self)
        self.url = url
        self.url_s = []

    def append(self):    
        return self.url_s

    def handle_starttag(self, tag, attr):    #Storing Urls as it is fetching a page from the Web with urllib, parsing it, and outputting the hyperlinks.
            y = urljoin(self.url, i[1])
            if y[:4] == 'http': 
                self.url_s.append(y)
x = 0
def webdir(urlink, depth, indent):   

    depth = depth - 1     # creating depth decrement with 1
    print(indent*'  ', urlink)         
    object = urlopen(urlink).read().decode()  #
    collect = Parser(urlink)
    collect.feed(object)
    urls = collect.append() 
    links = urls
    indent= indent + 4
    for l in links:
        if depth < 0 or indent < 0:
            return 1
        else:
            webdir(l, depth, indent)

In [91]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/one.html
         http://reed.cs.depaul.edu/lperkovic/two.html
                 http://reed.cs.depaul.edu/lperkovic/four.html
         http://reed.cs.depaul.edu/lperkovic/three.html
                 http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8
## Write SQL queries on the below database table that return: 
a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [81]:
import sqlite3
connection = sqlite3.connect('database_db')
cur = connection.cursor()
cur.execute("CREATE TABLE assignment (City text, Country text, Season text, Temperature dec, Rainfall dec)")
cur.execute("INSERT INTO assignment VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO assignment VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO assignment VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO assignment VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO assignment VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO assignment VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO assignment VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO assignment VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO assignment VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO assignment VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO assignment VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO assignment VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
connection.commit()
connection.close()

OperationalError: table assignment already exists

In [82]:
import sqlite3
connection = sqlite3.connect('database_db')
cur = connection.cursor()
cur.execute('SELECT Temperature FROM assignment ')
for opt in cur:
    print(opt)
cur.execute('SELECT DISTINCT City FROM assignment ')
for record in cur:
    print(opt)
cur.execute('SELECT * FROM assignment where Season="Fall"')
for opt in cur:
    print(opt)
cur.execute('SELECT * FROM assignment where Country="India"')
for opt in cur:
    print(opt)
cur.execute('SELECT City,Country FROM assignment  where Season ="Fall" AND temperature>20 ORDER BY Temperature DESC')
for opt in cur:
    print(opt)
cur.execute('SELECT City,Country,Season FROM assignment  where rainfall>200 AND rainfall<400')
for opt in cur:
    print(opt)
cur.execute('SELECT SUM(Rainfall) FROM assignment  where City="Cairo"')
Annual_rainfall=cur.fetchall()
print(Annual_rainfall)
cur.execute('SELECT SUM(Rainfall),Season FROM assignment  GROUP BY Season')
for opt in cur:
    print(opt)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(22.2,)
(22.2,)
(22.2,)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

Suppose list words is defined as follows:

>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] 

(the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)


e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [46]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

6

['quick', 'brown', 'jumps', 'over', 'lazy']

In [80]:
[a.upper() for a in words] # showing words in upper case

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [48]:
[a.lower() for a in words] # Showing words in lower case

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [49]:
[len(a) for a in words]  # Showing length of words

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [50]:
[[a.upper(),a.lower(),len(a)] for a in words] # showing upper case,lower case and length of the word.

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [57]:
[a for a in words if len(a) >= 4] #showing words whose legths is greater than 4

['quick', 'brown', 'jumps', 'over', 'lazy']